
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="gb2312">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>店铺会员-吉康</title>
    <link rel="stylesheet" href="css/shop.css"/>
</head>
<body>
<div class="app-view">
    <div class="app-page">
        <header class="app-head">
            <div class="inner">
			 <a class="link app-back" href="javascript:history.back();">
                    <i class="icon-back"></i>
                </a>
			<p style=" float:right;"><a href="../business/?type=quit" class=""><input type="button" value="退出" name="" style="color:#666; width:60px; height:28px;"/></a></p>
                <h1 class="title sliding">用户列表</h1>
            </div>
        </header>
        <section class="app-wrap" id="js_wrap">
            <div class="inner">
                <div class="m-list s-pdt">
                    <nav id="js_fix" class="nav">
                        <a href="index.php?type=shop_coupons_admin&fid=<?php echo $fid;?>"><span>优惠券</span></a>
                        <a href="index.php?type=shop_activities_admin&shop_id=<?php echo $fid;?>"><span>活动</span></a>
                        <a class="z-sel" href="#"><span>会员</span></a>
                    </nav>
                    <table class="users">
                        <tr>
                            <th>序号</th>
                            <th>姓名</th>
                            <th>手机</th>
                        </tr><?php if($stlist){ foreach($stlist as $rs){?>
                        <tr>
                            <td><?php echo $rs[rownum];?></td>
                            <td><?php echo $rs[niname];?></td>
                            <td><?php echo $rs[mobilephone];?></td>
                        </tr><?php }}else{echo "<tr><td colspan='3'>暂无会员……</td></tr>";} ?>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
<script src="js/zepto.min.js"></script>
<script src="js/app.js"></script>
<script>
    $(function () {
        var $fix = $("#js_fix");
        var $box = $("#js_wrap");
        $(document).on('touchstart', function () {
            $fix.css('top', 0);
        }).on('touchend', function () {
            $fix.css('top', $box.scrollTop());
        });
    });
</script>
</html>